<div class="personal-card">
    <mat-card class="back-card">
        <mat-card-content>Name : Harry Potter</mat-card-content>
        <mat-card-content>Age : 26</mat-card-content>
        <mat-card-content>Email : harrypotter@gmail.com</mat-card-content>
        <mat-card-content>Phone : 7235726523</mat-card-content>
        <mat-card-content>Address : London</mat-card-content>
        <mat-card-actions align="end">
            <a class="edit-button">Edit</a>
        </mat-card-actions>
    </mat-card>
</div>

<div class="card_names">
    <a class="service-card"></a>
    <a class="service-card"></a>
    <a class="service-card"></a>
</div>

<div class="card_name">
    <span class="ba">Book Appointment</span>
    <span class="vmh">View Medical History</span>
    <span >View Appointment <br> <span class="vah"> History</span></span>
</div>