<app-doctor-nav></app-doctor-nav>
<h3>Hello Doctor!</h3>

<div class="link_cards">
    <mat-grid-list cols="4" rowHeight="400px">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="gritems">
            <a  class="service-card" routerLink="/doctdapp"><img src="../../../assets/patient.png" alt="Patient" width="60px"
                height="60px"><br>
                 Today's Appointment</a>
        </mat-grid-tile>

        <mat-grid-tile >
            <a class="service-card1" routerLink="/dochome"><img src="../../../assets/doctor.png" alt="Doctor" width="60px" height="60px">
                <br>
            Pending Appointment
        </a>

        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

    </mat-grid-list>
    
<!-- 
    <a class="service-card" routerLink="/nurse_profile"><img src="../../../assets/nurse.png" alt="Nurse" width="60px" height="60px"></a>
    <a class="service-card" routerLink="/adminprofile"><img src="../../../assets/admin.png" alt="Admin" width="60px" height="60px"></a> -->


</div>


<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list> -->