<form #f="ngForm" (submit)="sendData(bp.value,rr.value,temp.value,ht.value,wt.value,nt.value)">
  <h1 mat-dialog-title class="dtitle">Add Vitals</h1>
  <div fxLayoutAlign="center">
    <p>Appointment with Dr. Mahesh</p>
  </div>
  <div mat-dialog-content>
    <div class="det-box">
      <mat-form-field appearance="fill">
        <mat-label>Blood Pressure</mat-label>
        <input matInput ngModel name="blood pressure" #bp="ngModel">
      </mat-form-field>

      <!-- &nbsp;  -->
      <mat-form-field appearance="fill">
        <mat-label>Temperature</mat-label>
        <input matInput ngModel name="temperature" #temp="ngModel">
      </mat-form-field>
    </div>
    <div class="det-box">
      <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput ngModel name="height" #ht="ngModel">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput ngModel name="weight" #wt="ngModel">
      </mat-form-field>
    </div>
    <div class="det-box">
      <mat-form-field appearance="fill">
        <mat-label>Respiratory rate</mat-label>
        <input matInput ngModel name="rr" #rr="ngModel">
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Allergies</mat-label>
        <input matInput ngModel name="allergies" #al="ngModel">
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Allergies</mat-label>
        <mat-select [formControl]="allergies" multiple>
          <mat-option *ngFor="let allergy of allergyList" [value]="allergies">{{allergy}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="det-box">
      <mat-form-field appearance="fill" style="width: 97.5%;">
        <mat-label>Notes</mat-label>
        <input matInput ngModel name="notes" #nt="ngModel">
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="btn-box">
    <button mat-button class="add-btn dbtn" type="submit"><span>ADD</span></button>
    <button mat-button class="cancel-btn dbtn"><span>CANCEL</span></button>

  </div>
</form>