<div class="container">
    <div class="btns" >
        <mat-form-field appearance="fill">
            <mat-label>Pick a Date</mat-label>
            <input matInput [matDatepicker]="formpicker" name="date" ngModel>
            <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="formpicker"></mat-datepicker-toggle>
            <mat-datepicker #formpicker></mat-datepicker>
        </mat-form-field>
        <span class="spacer"></span>
    <div fxLayoutAlign="end">
        <button mat-fab (click)="to_profile()"><img src="../../../../assets/arrow-left-long-solid.svg" width="25px"
                height="25px" alt=""></button>
    </div>
    </div>

    <div class="card-area flex-container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.lt-md="column">
        <mat-card>
            <mat-card-header class="flex-container" fxLayout="row">
                <span><h3>Doctor <span id="spl">(dentist)</span></h3></span> 
        </mat-card-header>
          
          
           <div fxLayoutAlign="center">
            <img src="../../../../assets/doctor_appointment.png" alt="medical report" width="100px" height="100px" id="card-icon">
           </div>
            <mat-card-actions><button mat-flat-button id="book" (click)="openDialog()">Book</button></mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header class="flex-container" fxLayout="row">
                <span>
                    <h3>Andrews <span id="spl">(Dermatologist)</span></h3>
                </span>
            </mat-card-header>
        
            <div fxLayoutAlign="center">
                <img src="../../../../assets/doctor_appointment.png" alt="medical report" width="100px" height="100px"
                    id="card-icon">
            </div>
            <mat-card-actions><button mat-flat-button id="book" (click)="openDialog()">Book</button></mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header class="flex-container" fxLayout="row">
                <span>
                    <h3>Tina<span id="spl">(Cardiologist)</span></h3>
                </span>
            </mat-card-header>
        
            <div fxLayoutAlign="center">
                <img src="../../../../assets/doctor_appointment.png" alt="medical report" width="100px" height="100px"
                    id="card-icon">
            </div>
            <mat-card-actions><button mat-flat-button id="book" (click)="openDialog()">Book</button></mat-card-actions>
        </mat-card>
        
        <mat-card>
            <mat-card-header class="flex-container" fxLayout="row">
                <span>
                    <h3>George<span id="spl">(Cardiologist)</span></h3>
                </span>
            </mat-card-header>
        
            <div fxLayoutAlign="center">
                <img src="../../../../assets/doctor_appointment.png" alt="medical report" width="100px" height="100px"
                    id="card-icon">
            </div>
            <mat-card-actions><button mat-flat-button id="book" (click)="openDialog()">Book</button></mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-header class="flex-container" fxLayout="row">
                <span>
                    <h3>Sheena <span id="spl">(Cardiologist)</span></h3>
                </span>
            </mat-card-header>
        
            <div fxLayoutAlign="center">
                <img src="../../../../assets/doctor_appointment.png" alt="medical report" width="100px" height="100px"
                    id="card-icon">
            </div>
            <mat-card-actions><button mat-flat-button id="book" (click)="openDialog()">Book</button></mat-card-actions>
        </mat-card>

        
    </div>


</div>